body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2{
    text-align: center;

}
h1{
    font-size: 1.8em;
    color: blue;
    font-weight: bold;
}

h2{
    text-decoration: underline;
    color: blueviolet;
    font-size: 1.2em;
}
li{
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: rgb(18, 5, 139);
     font-size: 1.1em;
     font-weight: bolder;
}
img{
    width: 640px;
    height: 360px;
    margin: auto;
}
iframe{
    width: 640px;
    height: 360px;
    margin: auto;
}
    
table{
    border: 5px solid blue;
    border-collapse: collapse;
    margin: auto;
    padding: auto;
}
td{
    border: 5px solid rgb(54, 47, 255);
    padding: 10px;
    text-align: center;    
    font-size: 1.5em;
    
   
}
tbody>tr:nth-child(2n-1){
    background-color: aqua;  
    font-weight: bold;  
}
tbody>tr:nth-child(even){
    background-color: violet;
}
